In [10]:
import os
import pandas as pd

In [11]:
#file name
filepath = os.path.join("data", "world_population.csv")

In [12]:
#reading a CSV
df = pd.read_csv(filepath)
#pd.read_csv(filepath, index_col=0, sep=";", header=None)

#index_col define a coluna que contém o index
#sep define o separador de colunas
#header define a linha que contém o nome das colunas
#parse_dates = True

df

   Year  Total Population
0  1960      3.034971e+09
1  1970      3.684823e+09
2  1980      4.436590e+09
3  1990      5.282716e+09
4  2000      6.115974e+09
5  2010      6.924283e+09

In [8]:
#se arquivo não tiver nome de colunas, use names para definir os nomes
col_names = ['year', 'pop']
df = pd.read_csv(filepath, header=None,names=col_names)
df

   year               pop
0  Year  Total Population
1  1960      3034970564.0
2  1970      3684822701.0
3  1980      4436590356.0
4  1990      5282715991.0
5  2000      6115974486.0
6  2010      6924282937.0

In [ ]:
#na_values permite preencher espaços vazios
df = pd.read_csv(filepath, header=None,names=col_names, na_values=' -1')
#na_values=' -1' == NaN

In [ ]:
#usando múltiplass linhas como header
pd.read_csv(filepath, header=[0,1,2])

In [ ]:
#usecols define quais colunas serão lidas permitindo carregar apenas os dados desejados
pd.read_csv(filepath, usecols=["Year", "Total Population"])

In [13]:
filepath = os.path.join("data", "messy_stock_data.txt")
df1 = pd.read_csv(filepath)
df1

                                                   The following stock data was collect on 2016-AUG-25 from an unknown source
These kind of ocmments are not very useful                                                  are they?
probably should just throw this line away too          but not the next since those are column labels
name Jan Feb Mar Apr May Jun Jul Aug Sep Oct No...                                                NaN
# So that line you just read has all the column...                                                NaN
IBM 156.08 160.01 159.81 165.22 172.25 167.15 1...                                                NaN
MSFT 45.51 43.08 42.13 43.47 47.53 45.96 45.61 ...                                                NaN
# That MSFT is MicroSoft                                                                          NaN
GOOGLE 512.42 537.99 559.72 540.50 535.24 532.9...                                                NaN
APPLE 110.64 125.43 125.97 127.29 128.76 127.81...                                                NaN
# Maybe we should have bought some Apple stock ...                                                NaN

In [14]:
df2 = pd.read_csv(filepath, delimiter=' ', header=3, comment='#')
df2

,name,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,IBM,156.08,160.01,159.81,165.22,172.25,167.15,164.75,152.77,145.36,146.11,137.21,137.96
1,MSFT,45.51,43.08,42.13,43.47,47.53,45.96,45.61,45.51,43.56,48.70,53.88,55.40
2,GOOGLE,512.42,537.99,559.72,540.50,535.24,532.92,590.09,636.84,617.93,663.59,735.39,755.35
3,APPLE,110.64,125.43,125.97,127.29,128.76,127.81,125.34,113.39,112.80,113.36,118.16,111.73

In [16]:
#saving dataframe in a CSV
filepath = os.path.join("data", "clean_stock_data.txt")
df2.to_csv(filepath, index=False)
#df.to_csv(filepath, sep="\t", encoding="utf-8")

In [17]:
#saving dataframe in excell
filepath = os.path.join("data", "clean_stock_data.xlsx")
df2.to_csv(filepath, index=False)